@import "components/main.less";

/* btn */

.btn-search {
    padding: 15px 59px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
}

.btn-red:hover,
.btn-send:hover,
.btns-send-pop-up:hover {
    color: #fff;
    background-color: #ee6a75;
}

.more:hover,
.btn-more:hover,
.btn-retain:hover,
.btn-autor:hover {
    background-color: #fff;
    color: #3d4955;
}

.more:focus,
.btn-more:focus,
.btn-retain:focus,
.btn-autor:focus {
    background-color: transparent;
    color: #fff;
}

.price:hover {
    color: #fff;
    background-color: #89cbee;
}

.form-item input {
    position: relative;
}

.input-lg,
.btn-lg {
    border-radius: 2px;
}

select.input-lg {
    line-height: 1;
    padding-left: 10px;
}

.btn-more {
    background-color: transparent;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 16px 26px 15px 26px;
}

input[type=file] {
    display: none;
}

.btn-add-caption {
    display: inline-block;
}

.btn-add-caption:hover {
    color: red;
    cursor: pointer;
}

.btn-add-caption-icon {
    color: #fff;
    background-color: #65beee;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 14px 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

a.btn-reviews {
    margin-top: 13px;
    background-color: transparent;
    color: #7f8892;
    padding: 17px 43px 16px 43px;
    border: 1px solid #7f8892;
}

a.more {
    width: auto;
    border-radius: 2px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    padding: 16px 20px;
    border: 1px solid #fff;
}

a.price {
    width: auto;
    background-color: #65beee;
    font-size: 15px;
    padding: 18px;
    border: none;
    color: #fff;
    margin-top: 5px;
}

.btn-lg {
    font-size: 14px;
    padding: 15px 0px 15px 0px;
}

.btn-reviews:hover,
.btn-reviews_all:hover {
    color: #fff;
    background-color: #7f8892;
    border: 1px splid #7f8892;
}

.btn-reviews:focus,
.btn-reviews_all:focus {
    background-color: transparent;
    color: #7f8892;
    border: 1px solid #7f8892;
}

a.btn-reviews_all {
    padding: 16px 27px 15px 27px;
    background-color: transparent;
    color: #7f8892;
    border: 1px solid #7f8892;
    font-size: 18px;
}

.btn-autor {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 200px;
    font-size: 14px;
    padding: 16px 52px 15px 52px;
}

a.btn-autor:focus,
a.btn-more:focus {
    color: #fff;
}

.btn-autor-caption {
    width: 100%;
    position: absolute;
    bottom: 43px;
    z-index: 5;
    width: 100%;
    padding: 0px 12px 0px 12px;
    text-align: center;
    left: 0;
}

a.btn-retain {
    color: #fff;
    border: 1px solid #fff;
    padding: 19px 105px;
}

button .fa,
a .fa {
    font-size: 20px;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(../img/arrow_select.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

select::-ms-expand {
    display: none;
}

select.input-no-padding_l {
    padding-left: 10px;
}

button.btn-default.content-box-reklam_btn-top:hover {
    background-color: #65beee;
    color: #fff;
}

button.btn-default.content-box-reklam_btn-top:focus {
    color: #fff;
    background-color: #357598;
}

a.btn-default.content-box-reklam_btn-top:active {
    background-color: #357598;
}

input,
button,
select:focus {
    outline: none!important;
}

.content-box-authors-open-list-item-btn-open-all-text a:hover {
    color: #3d8eb9;
}

.content-box-authors-open-list-item-btn-open-all-text a:active {
    color: #eb4855;
}


/* icon */

.i {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.i_dotted {
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-bottom: 1px dashed #65beee;
    padding-bottom: 5px;
}

.fa-star {
    color: #ffa200;
    font-size: 15px;
}

.fa-star-o {
    color: #ffa200;
    font-size: 15px;
}

.i_diplom {
    background-image: url(../img/diplom.png);
    width: 90px;
    height: 90px;
    margin-top: 5px;
}

.i_kurs {
    background-image: url(../img/kurs.png);
    width: 90px;
    height: 90px;
}

.i_kontr {
    background-image: url(../img/kontr.png);
    width: 90px;
    height: 90px;
}

.i_ref {
    background-image: url(../img/ref.png);
    width: 90px;
    height: 90px;
}

.i_notebook {
    background-image: url(../img/notebook.png);
    background-size: inherit;
}

.i_human {
    background-image: url(../img/man.png);
    background-size: inherit;
}

.i_coast {
    background-image: url(../img/cost.png);
    background-size: inherit;
}

.i_pencil {
    background-image: url(../img/pen.png);
    background-size: inherit;
}

.i_mes {
    background-image: url(../img/mes.png);
    background-size: inherit;
}

.i_costplus {
    background-image: url(../img/costplus.png);
    background-size: inherit;
}

.i_compleet {
    background-image: url(../img/complit.png);
    background-size: inherit;
}

.i_man {
    background-image: url(../img/i_coastPlus.png);
    width: 90px;
    height: 90px;
}

.i_circle-inside {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 6px solid #6a5b5f;
}

.i_arrow_bg-blue {
    background-image: url(../img/arrow_bg4.png);
    background-size: inherit;
    width: 19px;
    height: 39px;
    position: absolute;
    left: -17px;
    bottom: 70px;
}

.i_question-container-enigma {
    background-image: url(../img/enigma.png);
    width: 240px;
    height: 215px;
}

.i_question-container-bag {
    background-image: url(../img/bag.png);
    width: 232px;
    height: 197px;
}

.i_circle-li {
    display: none;
    background-image: url(../img/ellipse.png);
    width: 10px;
    height: 10px;
}

.seleect_i-shine {
    background-image: url(../img/select_i-shine.png);
    width: 127px;
    height: 151px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.seleect_i-bulb {
    background-image: url(../img/select_i-bulb.png);
    width: 73px;
    height: 79px;
    position: absolute;
    top: 20px;
    right: 15px;
}

.seleect_i-book {
    background-image: url(../img/select_i-book.png);
    width: 94px;
    height: 84px;
    position: absolute;
    bottom: 135px;
    left: 15px;
}

.cabinet_loptop {
    background-image: url(../img/cabinet_loptop.png);
    width: 147px;
    height: 120px;
}

.cabinet_search {
    background-image: url(../img/cabinet_search.png);
    width: 119px;
    height: 107px;
}

.cabinet_download {
    background-image: url(../img/cabinet_download.png);
    width: 147px;
    height: 92px;
}

.cabinet_manager {
    background-image: url(../img/cabinet_manager.png);
    width: 70px;
    height: 125px;
}

.i_dollars {
    background-image: url(../img/dollars.png);
    width: 141px;
    height: 120px;
}

.i_schedule {
    background-image: url(../img/schedule.png);
    width: 140px;
    height: 120px;
}

.i_teacher {
    background-image: url(../img/teacher.png);
    width: 98px;
    height: 120px;
}

.i_graphic-circle {
    background-image: url(../img/graphic-circle.png);
    width: 146px;
    height: 120px;
}


/* content-box-breadcrumb */

@import "components/breadcrumb-box.less";

/* content-box-reviews */

@import "components/box-reviews.less";

/* content-box-authors */

.content-box-authors {
    background-color: #00969b;
    text-align: center;
    padding: 60px 0;
}

.content-box-text-top {
    font-size: 36px;
    font-family: "GothamProLight";
    line-height: 36px;
    color: #ffffff;
    margin: 0 0 35px 0;
}

.content-box-text-bottom {
    font-size: 14px;
    font-family: "GothamProLight";
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.content-box-text-bottom_text-strong {
    font-size: 18px;
    line-height: 24px;
    font-famile: "GothamProLight";
    font-weight: 700;
}

.content-box-text-bottom_text-strong i {
    margin: 0px 5px 0px 10px;
}

.content-box-authors-list {
    font-size: 0;
    text-align: center;
    margin-top: 60px;
}

.content-box-authors-list-item {
    display: inline-block;
    width: 25%;
    text-align: center;
    vertical-align: top;
}

.content-box-authors-list-item-text-top {
    font-size: 16px;
    font-family: "GothamProLight";
    color: #ffffff;
    line-height: 24px;
    display: block;
    margin: 30px 0px 20px 0px;
}

.content-box-authors-list-item-text-bottom {
    font-size: 14px;
    font-family: "GothamProLight";
    color: #ffffff;
    line-height: 18px;
    width: 75%;
    display: block;
    margin: 0 auto;
}

.content-box-authors-btn-caption {
    margin-top: 60px;
}

.content-box-text-bottom_text-strong_margin {
    margin-left: 5px;
}

@media(max-width: 350px) {
    a.btn-retain {
        padding: 19px 0;
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width: 800px) {
    .content-box-authors-list-item {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }
    .content-box-authors {
        padding: 30px 0;
    }
    .content-box-text-top {
        font-size: 24px;
        margin: 0px 0px 20px 0px;
    }
    .content-box-text-bottom {
        width: 88%;
    }
    .content-box-authors-list {
        margin-top: 25px;
    }
}


/*content-box-vacancies*/

.content-box-vacancies {
    padding: 60px 0;
}

.content-box-vacancies .content-box-text-top {
    color: #3d4955;
    text-align: center;
}

.content-box-vacancies-list {
    width: 85%;
    margin: 0 auto;
}

.content-box-vacancies-list-item {
    font-size: 0;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 30px;
    margin-bottom: 35px;
}

.content-box-vacancies-list-item-inner-left {
    display: inline-block;
    width: 75%;
}

.content-box-vacancies-list-item-inner-right-value-from {
    margin-right: 10px;
}

.content-box-vacancies-list-item-inner-right-value-max {
    margin-left: 5px;
}

.content-box-authors-open-list-item-btn-open-all-text {
    text-align: center;
    margin-top: 60px;
}

.content-box-authors-open-list-item-btn-open-all-text a {
    font-size: 16px;
    color: #3d4955;
}

.content-box-authors-open-list-item-btn-open-all-text i {
    margin-right: 12px;
}

.content-box-vacancies-list-item a {
    font-size: 16px;
    font-family: "GothamProRegular";
    line-height: 24px;
    color: #3d8eb9;
}

.content-box-vacancies-list-item-inner-right {
    display: inline-block;
    width: 25%;
    white-space: nowrap;
    vertical-align: top;
}

.content-box-vacancies-list-item-inner-right-value {
    font-size: 18px;
    font-family: "GothamProRegular";
    line-height: 30px;
    color: #4e535c;
    font-weight: bold;
    text-align: center;
}

.content-box-vacancies-list-item-text-bottom {
    font-size: 14px;
    color: #939292;
    font-family: "GothamProRegular";
    line-height: 24px;
    margin-top: 35px;
}

.content-box-vacancies-list-item-text-bottom-strong {
    font-weight: bold;
    color: #4e535c;
    margin-right: 5px;
}

@media(max-width: 900px) {
    .content-box-vacancies-list-item-inner-left,
    .content-box-vacancies-list-item-inner-right,
    .content-box-vacancies-list-item-text-bottom-strong {
        display: block;
        width: 100%;
        text-align: center;
    }
    .content-box-text-top {
        font-size: 24px;
    }
    .content-box-vacancies-list-item-inner-right-value {
        margin-top: 10px;
    }
    .content-box-vacancies-list-item-text-bottom {
        text-align: center;
    }
    .content-box-vacancies {
        padding: 30px 0;
    }
    .content-box-vacancies-list-item {
        text-align: center;
    }
}


/* content-box-articles */

.content-box-articles {
    background-color: #f4f4f4;
    padding: 60px 0;
}

.content-box-articles .content-box-text-top {
    color: #3d4955;
    text-align: center;
}

.content-box-articles-list-item {
    border-bottom: 1px solid #dedede;
    text-align: left;
    padding: 30px 0;
    width: 85%;
    margin: 0 auto;
}

.content-box-articles-list-item-text-top {
    font-size: 18px;
    font-family: "GothamProMedium";
    line-height: 24px;
    color: #000000;
    margin-top: 0;
}

.content-box-articles-list-item-text-source {
    display: block;
    font-size: 14px;
    color: #939292;
    margin-bottom: 15px;
}

.content-box-articles-list-item-text-bottom {
    font-size: 14px;
    font-family: "GothamProLight";
    color: #000000;
    line-height: 24px;
    display: block;
}

@media(max-width: 768px) {
    .content-box-articles {
        padding: 30px 0;
    }
    .content-box-articles-list-item {
        text-align: center;
    }
    .content-box-authors-open-list-item-btn-open-all-text {
        margin-top: 30px;
    }
}


/* btn-toggle */

.btn-toggle i {
    position: absolute;
    top: 4px;
    right: -15px;
}

.btn-toggle {
    display: none;
    font-size: 14px;
    position: relative;
    color: #65beee;
    border-bottom: 1px dashed;
}
.btn-toggle:hover{
    cursor: pointer
}
@media(max-width: 768px) {
    .btn-toggle {
        display: inline-block;
    }
}


/* content-box-label */

@import "components/box-label.less";


