@import "components/main.less";



/* content-box-top */

.content-box-top_bg {
    background-image: url(../img/bg_top.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 75px;
    margin-top: -3px;
}

.content-box-top_bg form {
    margin: 19px 0px 33px 0px;
}

.content-box-top input.form-control:focus {
    border: 0!important;
}

.content-box-top {
    color: #fff;
}

.content-box-top select,
.content-box-top input {
    border: none;
}

.content-box-top input,
.content-box-top select {
    font-size: 14px;
    margin-bottom: 10px;
    height: 51px;
    font-family: "GothamProLight";
}

.content-box-top-text-xl {
    font-size: 24px;
    line-height: 1;
}

.content-box-top-text-xs_top {
    font-size: 14px;
    font-family: "GothamProRegular";
    margin-top: 8px;
    line-height: 18px;
}

.content-box-top-text-xs {
    font-family: "GothamProLight";
    font-size: 14px;
    margin: 0;
    line-height: 24px;
}

.content-box-top_text-bottom-question {
    font-size: 18px;
    font-family: "GothamProBold";
    margin: 25px 0px 0px 0px;
}

.border-right {
    border-right: 1px solid #fff;
}

@media(max-width: 992px) {
    .border-right {
        border-right: none;
    }
    .content-box-top button {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .content-box-top_bg {
        background-image: url(../img/bg_1.jpg);
        background-size: cover;
        background-position: center center;
        margin-top: 0;
    }
}

@media(max-width: 768px) {
    .form-item .i_left {
        left: 30px;
    }
    .content-box-top.form-item select.input-lg {
        padding-left: 32px;
        padding-bottom: 13px;
    }
    div.content-box-top_bg {
        margin-top: 0;
    }
    .content-box-top_bg form {
        margin: 18px 0px 35px 0px;
    }
    .content-box-top_text-bottom-question {
        margin-top: 26px;
        padding-right: 7px;
    }
    .content-box-top-text-xs {
        margin-top: 5px;
    }
    .content-box-top a.more {
        margin-top: 15px;
    }
}

@media(min-width: 992px) {
    .content-box-top-text-xl {
        font-size: 50px;
        margin-top: 50px;
    }
    .content-box-top-text-xs_top {
        font-size: 18px;
        margin-bottom: 52px;
        margin-top: 27px;
    }
    .content-box-top_bg form {
        margin: 11px 8px 94px 0px;
    }
    .content-box-top select.input-lg {
        margin-left: 10px;
    }
    .content-box-top_text-bottom-question {
        margin: 2px 0px 10px 0px;
    }
    .content-box-top-caption {
        margin-top: 83px;
    }
    .content-box-top-text-xs {
        width: 305px;
        margin: 0 auto;
    }
    .content-box-top-caption .more {
        margin-top: 20px;
    }
}

.content-box-top-caption .btn-default:hover {
    background-color: #fff;
}

@media(max-width: 1300px) {
    .content-box-top_bg {
        margin-top: -3px;
    }
}


/* content-box-percent */

.content-box-percent {
    margin-bottom: 5px;
}

.content-box-percent-item {
    background-color: #f7fcff;
    padding-bottom: 15px;
}

.content-box-percent_value {
    font-size: 100px;
    font-family: "GothamProLight";
    margin: 0;
    line-height: 24px;
    letter-spacing: -10px;
    display: inline-block;
    line-height: 1;
    margin-top: 10px;
}

.fa-percent {
    font-size: 45px;
    bottom: 46px;
    margin-left: 3px;
    position: relative;
    display: inline-block;
}

.content-box-percent-item {
    margin: 5px 0px 5px 0px;
}

.content-box-percent-item_first,
h3 {}

.content-box-percent-item_text-value {
    font-size: 24px;
    line-height: 30px;
    font-family: "GothamProRegular";
    margin-top: 8px;
    padding: 0px 5px 0px 2px;
}

@media(max-width: 768px) {
    .content-box-percent .content-box-percent-item {
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 13px;
    }
    .content-box-percent .content-box-percent-item.content-box-percent-item_second {
        margin-bottom: 11px;
    }
    .content-box-percent a.price {
        margin-top: 9px;
    }
    .content-box-percent {
        padding: 8px 13px 0px 13px;
    }
}

.content-box-percent-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.content-box-percent_value-caption .fa-percent {
    bottom: 40px;
}

@media(max-width: 993px) {
    .content-box-percent_value-caption {
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
        margin-left: 8px;
    }
    .content-box-percent-item {
        display: inline-block;
        width: 47%;
    }
    .content-box-percent {
        text-align: center;
    }
    .content-box-percent .button.price {
        margin-top: 10px;
    }
    .content-box-percent-item_text-value {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .content-box-percent_text-value-caption {
        text-align: center;
    }
}

@media(min-width: 992px) {
    .content-box-percent-item {
        margin-top: 37px;
        display: inline-block;
        width: 47%;
        max-width: 555px;
        font-size: 0;
    }
    .content-box-percent-item:first-child {
        margin-right: 15px;
    }
    .content-box-percent-item:last-child {
        margin-left: 15px;
    }
    .content-box-percent_value-caption {
        display: inline-block;
        width: 35%;
        text-align: left;
        white-space: nowrap;
    }
    .content-box-percent_text-value-caption {
        display: inline-block;
        width: 65%;
        margin-top: 10px;
        text-align: left;
        padding-left: 25px;
    }
    .content-box-percent {
        margin-bottom: 25px;
        text-align: center;
    }
    .content-box-percent-item .container-no-padding {
        margin-top: 16px;
    }
    .content-box-percent_value {
        margin: 45px 0px 0px 23px;
        position: relative;
        bottom: 5px;
    }
    .content-box-percent-item_first .content-box-percent_value {
        margin: 45px 0px 0px 31px;
    }
    .content-box-percent-item_first .content-box-percent_text-value-caption {
        padding-left: 16px;
    }
    .content-box-percent-item_second .content-box-percent_value {
        margin: 45px 0px 0px 19px;
    }
    .content-box-percent-item_second .content-box-percent_text-value-caption {
        padding-left: 32px;
    }
}


/*ad-box */
@import "components/ad-box.less";


/* select-box */

@import "components/select-box.less";

/* advantages-box */

@import "components/advantages-box.less";

/* work-box */

@import "components/work-box.less";

/* box-reviews */

@import "components/box-reviews.less";

/* content-box-autor */

@import "components/author-box.less";

