@import "components/main.less";

/* btn */

.btn-red {
    background-color: #eb4855;
    border-color: #eb4855;
    color: #fff;
    font-size: 15px;
    padding: 17px 11px;
    white-space: nowrap;
}

.btn-red:hover,
.btn-send:hover,
.btns-send-pop-up:hover {
    color: #fff;
    background-color: #ee6a75;
}

.more:hover,
.btn-more:hover,
.btn-retain:hover,
.btn-autor:hover {
    background-color: #fff;
    color: #3d4955;
}

.more:focus,
.btn-more:focus,
.btn-retain:focus,
.btn-autor:focus {
    background-color: transparent;
    color: #fff;
}

.btn-today:hover {
    color: #fff;
    background-color: #8f9999;
}

.btn-tomorrow:hover {
    color: #fff;
    background-color: #dddddd;
}

.price:hover {
    color: #fff;
    background-color: #89cbee;
}

.form-item input {
    position: relative;
}

.input-lg,
.btn-lg {
    border-radius: 2px;
}

select.input-lg {
    line-height: 1;
    padding-left: 10px;
}

button.btn-send {
    font-size: 15px;
    font-family: Aria, Helvetica;
    color: #fff;
    background-color: #eb4855;
    border-color: #eb4855;
    padding: 18px 56px;
}

.btn-more {
    background-color: transparent;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 16px 26px 15px 26px;
}

input[type=file] {
    display: none;
}

.btn-add-caption {
    display: inline-block;
}

.btn-add-caption:hover {
    color: red;
    cursor: pointer;
}

.btn-add-caption-icon {
    color: #fff;
    background-color: #65beee;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 14px 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

a.btn-reviews {
    margin-top: 13px;
    background-color: transparent;
    color: #7f8892;
    padding: 17px 43px 16px 43px;
    border: 1px solid #7f8892;
}

a.more {
    width: auto;
    border-radius: 2px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    padding: 16px 20px;
    border: 1px solid #fff;
}

a.price {
    width: auto;
    background-color: #65beee;
    font-size: 15px;
    padding: 18px;
    border: none;
    color: #fff;
    margin-top: 5px;
}

.btn-lg {
    font-size: 14px;
    padding: 15px 0px 15px 0px;
}

.btn-reviews:hover,
.btn-reviews_all:hover {
    color: #fff;
    background-color: #7f8892;
    border: 1px splid #7f8892;
}

.btn-reviews:focus,
.btn-reviews_all:focus {
    background-color: transparent;
    color: #7f8892;
    border: 1px solid #7f8892;
}

a.btn-reviews_all {
    padding: 16px 27px 15px 27px;
    background-color: transparent;
    color: #7f8892;
    border: 1px solid #7f8892;
    font-size: 18px;
}

.btn-autor {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 200px;
    font-size: 14px;
    padding: 16px 52px 15px 52px;
}

a.btn-autor:focus,
a.btn-more:focus {
    color: #fff;
}

.btn-autor-caption {
    width: 100%;
    position: absolute;
    bottom: 43px;
    z-index: 5;
    width: 100%;
    padding: 0px 12px 0px 12px;
    text-align: center;
    left: 0;
}

a.btn-retain {
    color: #fff;
    border: 1px solid #fff;
    padding: 19px 105px;
}

button .fa,
a .fa {
    font-size: 20px;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(../img/arrow_select.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

select::-ms-expand {
    display: none;
}

select.input-no-padding_l {
    padding-left: 10px;
}

button.btn-default.content-box-reklam_btn-top:hover {
    background-color: #65beee;
    color: #fff;
}

button.btn-default.content-box-reklam_btn-top:focus {
    color: #fff;
    background-color: #357598;
}

a.btn-default.content-box-reklam_btn-top:active {
    background-color: #357598;
}

input,
button,
select:focus {
    outline: none!important;
}

.btn-call-me:hover {
    color: #fff;
    background-color: #65beee;
    opacity: .7;
}

.btn-login:hover {
    color: #fff;
    background-color: #383760;
    opacity: .9;
}


/* icon */

.i {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.i_dotted {
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-bottom: 1px dashed #65beee;
    padding-bottom: 5px;
}

.fa-star {
    color: #ffa200;
    font-size: 15px;
}

.fa-star-o {
    color: #ffa200;
    font-size: 15px;
}

.i_circle-inside {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 6px solid #6a5b5f;
}

.i_arrow_bg-blue {
    background-image: url(../img/arrow_bg4.png);
    background-size: inherit;
    width: 19px;
    height: 39px;
    position: absolute;
    left: -17px;
    bottom: 70px;
}

.i_circle-li {
    display: none;
    background-image: url(../img/ellipse.png);
    width: 10px;
    height: 10px;
}


/* content-box-breadcrumb */

@import "components/breadcrumb-box.less";

/* container-fluid content-box-select-details */

.content-box-select-details .container {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.content-box-select-details input,
.content-box-select-details select {
    font-size: 14px;
    margin-bottom: 10px;
    height: 48px;
    padding-left: 20px;
    font-family: "GothamProLight";
    border: 1px solid #7f8892;
}

.content-box-select-details-caption-text-top {
    color: #eb4855;
    font-size: 14px;
    font-family: "GothamProBold";
    word-spacing: 3px;
    margin: 10px 0px 10px 0px;
}

.content-box-select-details-caption-text-middle {
    margin: 0;
    color: #3d4955;
    font-family: "GothamProRegular";
    word-spacing: -1px;
    line-height: 30px;
    font-size: 36px;
    margin: 20px 0px 38px 0px;
}

.content-box-select-details-caption-text-bottom {
    color: #3d4955;
    font-size: 14px;
    font-family: "GothamProRegular";
    padding: 0px 32px 0px 32px;
}

.content-box-select-details_box-bottom {
    position: relative;
}

.content-box-select-details-box_add-file-text {
    font-size: 14px;
    font-family: "GothamProLight";
    line-height: 24px;
    display: inline-block;
    width: 95%;
    vertical-align: top;
}

.content-box-select-details-box {
    padding: 0px 30px;
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.content-box-select-details-box-text-top {
    font-size: 36px;
    font-family: "GothamProLight";
    line-height: 36px;
    color: #3d4955;
    text-align: center;
    margin: 30px 0px 60px 0px;
}

.content-box-select-details-box-text-bottom {
    font-size: 14px;
    font-family: "GothamProLight";
    line-height: 30px;
    color: #4e535c;
    width: 92%;
    margin: 0 auto;
}

.content-box-select-details-stox-box {
    background-color: #4e535c;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
    max-width: 520px;
    width: 35%;
    vertical-align: top
}

.content-box-select-details-stox-box-list {
    margin: 30px 0;
}

.content-box-select-details-stox-box-list-item {
    margin-bottom: 8px;
    list-style-type: none;
    text-align: left;
}

a.content-box-select-details-stox-box-sub-list-item-text {
    padding-left: 100px;
}

.content-box-select-details-stox-box-list-item-text-tr {
    position: absolute;
    width: 0;
    top: 0;
    height: 0;
    right: -35px;
    border: 15px solid transparent;
    border-left: 20px solid #65beee;
    display: none;
}

.content-box-select-details-stox-box-list-item-text_active .content-box-select-details-stox-box-list-item-text-hover {
    display: block;
}

.content-box-select-details-stox-box-list-item-text_active .content-box-select-details-stox-box-list-item-text-tr {
    display: inline-block;
}

.content-box-select-details-stox-box-list-item-text {
    font-size: 14px;
    font-family: "GothamProLight";
    line-height: 30px;
    color: #fff;
    list-style: none;
    text-align: left;
    position: relative;
    z-index: 1;
    display: block;
    padding: 0px 0px 0px 40px;
}

.content-box-select-details-stox-box-list-item-text-hover {
    background-color: #65beee;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: -120px;
    z-index: -1;
    display: none;
}

.content-box-select-details-stox-box-list-item-from {
    position: absolute;
    top: 0;
    right: 30px;
}

.content-box-select-details-stox-box-list-item-from_hot-price {
    background-color: #eb4855;
    border-radius: 12px;
    padding: 0 10px;
    right: 20px;
}

.content-box-select-details-stox-box-list-item-text:hover {
    color: #fff;
}

.content-box-select-details-stox-box-list-item-text:hover .content-box-select-details-stox-box-list-item-text-hover {
    display: block;
}

.content-box-select-details-stox-box-list-value {
    margin-left: 5px;
    font-weight: bold;
}

.content-box-select-details-stox-box-list-value i {
    margin-left: 2px;
}

.xs-value {
    width: 80%;
    margin: 0 auto;
}

.content-box-select-details-stox-box_tr {
    position: absolute;
    width: 0;
    height: 0;
    top: 34px;
    right: -40px;
    border: 20px solid transparent;
    border-left: 20px solid #4e535c;
}

.content-box-select-details-value-caption {
    background-color: #f7f7f7;
    margin: 0px 0px 30px 0px;
    border-radius: 2px;
}

.content-box-select-details-box-value-list {
    margin-bottom: 65px;
}

.content-box-select-details-value-list-item {
    display: inline-block;
    width: 25%;
    padding: 0px 5px 0px 5px;
    text-align: center;
    vertical-align: top;
}

.content-box-select-details-value-list-item-icon i {
    font-size: 17px;
    width: 17px;
    height: 17px;
    color: #4e535c;
}

.content-box-select-details-value-list-item-number {
    font-size: 16px;
    font-family: "GothamProRegular";
    margin-top: 6px;
    display: block;
    color: #4e535c;
}

.content-box-select-details-value-list-item-number_red {
    color: #da4a56;
}

.content-box-select-details-value-list-item-description {
    display: inline-block;
    padding: 0px 15px 0px 15px;
    margin: 0;
    font-size: 12px;
    font-family: "GothamProRegular";
    color: #79828c;
}

.content-box-select-details-value-caption-box-red {
    font-size: 14px;
    font-family: "GothamProRegular";
    line-height: 30px;
    color: #fff;
    background-color: #eb4855;
    display: inline-block;
    vertical-align: top;
    padding: 0px 24px;
    margin-bottom: 30px;
}

.content-box-select-details-value-caption-date {
    font-size: 14px;
    font-family: "GothamProRegular";
    line-height: 30px;
    color: #9b9a9a;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.content-box-select-details-stox-box-percent-value-caption-text {
    font-size: 24px;
    font-family: "GothamProLight";
    line-height: 30px;
    color: #3d4955;
    padding: 0px 30px;
    margin: 0px 0px 20px 0px;
}

.content-box-select-details-stox-box-percent-value-caption-percent {
    font-size: 100px;
    font-family: "GothamProLight";
    margin: 0;
    line-height: 24px;
    letter-spacing: -10px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1;
    padding-bottom: 35px;
}

.content-box-select-details .btn-send {
    padding: 17px 78px;
}

.content-box-select-details form {
    text-align: center;
    margin-top: 65px;
}

.content-box-select-details-text-bottom h3 {
    font-size: 14px;
    font-family: "GothamProRegular";
    line-height: 30px;
    color: #4c4c4c;
    text-align: center;
    padding: 0px 70px;
    margin: 0px 0px 60px 0px;
}

.content-box-select-details-box_mobile {
    display: none;
}

@media(max-width: 550px) {
    span.content-box-select-details-value-list-item-number {
        width: 100%;
    }
    span.content-box-select-details-value-list-item-description {
        width: 100%;
        padding: 0;
    }
}

@media(max-width: 768px) {
    .content-box-select-details-value-list-item {
        width: 50%;
        margin-bottom: 30px;
    }
    .content-box-select-details .btn-send {
        width: 100%;
        padding: 17px 0px;
    }
    .content-box-select-details-value-list-item-description {
        width: 60%;
        margin: 0 auto;
    }
    .content-box-select-details-value-list-item-number {
        width: 50%;
        margin: 15px auto;
    }
    .content-box-select-details-box-value-list {
        margin-bottom: 0;
    }
    .content-box-select-details-box-text-top {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .content-box-select-details-box-text-bottom {
        width: 100%;
    }
}

@media(max-width: 920px) {
    .content-box-select-details-stox-box {
        display: block;
        background-color: transparent;
        width: 100%;
        max-width: 100%;
        padding: 15px 15px 30px 15px;
        margin-bottom: 0;
    }
    .content-box-select-details form {
        margin: 30px 0;
    }
    .content-box-select-details-box {
        display: block;
        width: 100%;
        padding: 0 15px;
    }
    .content-box-select-details-text-bottom h3 {
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .i_kingbook {
        display: block;
        margin: 0 auto;
    }
    .content-box-select-details-stox-box-list {
        display: none;
    }
    .content-box-select-details-box_mobile {
        display: block;
    }
    .content-box-select-details select {
        margin-bottom: 0;
    }
    .content-box-select-details-box-text-bottom {
        text-align: center;
    }
}

@media(max-width: 1060px) {
    li.content-box-select-details-stox-box-list-item a {
        padding-left: 5px;
    }
    li.content-box-select-details-stox-box-sub-list-item a {
        padding-left: 20px;
    }
    .content-box-select-details-stox-box-list-item-from {
        right: 10px;
    }
    .content-box-select-details-stox-box-list-item-from_hot-price {
        right: 1px;
    }
    .content-box-select-details-stox-box-list {
        padding-left: 15px;
    }
}

@media(max-width: 1300px) {
    .content-box-select-details-stox-box-list-item a {
        padding-left: 0px;
        font-size: 12px;
    }
    .content-box-select-details-stox-box-sub-list-item a {
        padding-left: 60px;
    }
}


/*	content-box-work */

@import "components/work-box.less";

/* content-box-advantages */

@import "components/advantages-box_more.less";

/* content-box-reviews */

@import "components/box-reviews.less";

/* content-box-causes */

@import "components/causes-box.less";

/* content-box-label */

@import "components/box-label.less";

/* Slider reklam   */

.crsl-items {
    display: block;
}

.crsl-item {
    padding-top: 30px;
    height: 414px!important;
}


/* Slider review */

.carousel-caption {
    width: 100%;
    padding-bottom: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    text-shadow: none;
    color: black;
    padding: 0;
}

.carousel-control {
    z-index: 10;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}


/*slider reklam*/

.crsl-items {
    position: absolute;
}

.crsl-item {
    height: 215px!important;
}

@media(max-width: 768px) {
    .crsl-items {
        position: static;
    }
}