@import "components/main.less";

/* btn */



/* icon */





.cabinet_loptop {
    background-image: url(../img/cabinet_loptop.png);
    width: 147px;
    height: 120px;
}

.cabinet_search {
    background-image: url(../img/cabinet_search.png);
    width: 119px;
    height: 107px;
}

.cabinet_download {
    background-image: url(../img/cabinet_download.png);
    width: 147px;
    height: 92px;
}

.cabinet_manager {
    background-image: url(../img/cabinet_manager.png);
    width: 70px;
    height: 125px;
}


/* content-box-breadcrumb */

@import "components/breadcrumb-box.less";

/* container-fluid content-box-select */

@import "components/select-box-redy-work.less";
.content-box-select{
    margin-bottom: -3px;
}


/*ad-box */

@import "components/ad-box.less";
.content-box-ad_btn-top.btn{
    padding: 0;
}


/* content-box-cabinet */

.content-box-cabinet {
    text-align: center;
}

.content-box-cabinet-list {
    font-size: 0;
}

.content-box-cabinet-list-item {
    display: inline-block;
    width: 25%;
}

.content-box-cabinet-text-top {
    font-size: 36px;
    font-family: "GothamProLight";
    line-height: 40px;
    color: #3d4955;
    margin: 60px 0px 30px 0px
}

.content-box-cabinet-list-item-text {
    font-size: 16px;
    font-family: "GothamProMedium";
    line-height: 24px;
    color: #3d4955;
    display: block;
    margin: 30px auto 60px;
    width: 60%;
    vertical-align: top;
}

@media(max-width: 787px) {
    .content-box-cabinet-list-item {
        display: inline-block;
        width: 100%;
    }
    .content-box-cabinet-text-top {
        font-size: 24px;
        margin: 30px
    }
    .content-box-cabinet-list-item-text {
        padding: 0 45px;
        margin-bottom: 30px;
    }
}

@media(max-width: 900px) {
    .content-box-cabinet-list-item-text {
        font-size: 14px;
    }
}

@media(max-width: 1030px) {
    span.content-box-cabinet-list-item-text {
        width: 80%;
    }
}

@media(max-width: 1200px) {
    .content-box-cabinet-list-item-text {
        width: 70%;
    }
}

@media(min-width: 1420px) {
    .content-box-cabinet-list-item-text {
        width: 100%;
    }
}


/*	content-box-work */

@import "components/work-box.less";

/* content-box-advantages */

@import "components/advantages-box_more.less";

/*content-box-question*/

@import "components/question-box.less";

/* content-box-reviews */

@import "components/box-reviews.less";

/* content-box-causes */

@import "components/causes-box.less";

/* content-box-label */

@import "components/box-label.less";


