@import "components/main.less";

/* btn */


.btn-search{
  padding: 15px 59px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
}
.btn-red:hover,.btn-send:hover,.btns-send-pop-up:hover{
  color: #fff;
  background-color: #ee6a75;
}
.more:hover,.btn-more:hover,.btn-retain:hover,.btn-autor:hover{
  background-color: #fff;
  color: #3d4955;
}
.more:focus,.btn-more:focus,.btn-retain:focus,.btn-autor:focus{
  background-color: transparent;
  color: #fff;
}
.price:hover{
  color: #fff;
  background-color: #89cbee;
}
a.btn-send {
  font-size: 15px;
  font-family: Aria, Helvetica;
  color: #fff;
  background-color: #eb4855;
  border-color: #eb4855;
  padding: 18px 56px;
  width: 100%;
}

.form-item input{
  position: relative;
}

.input-lg,.btn-lg {
  border-radius: 2px;
}
select.input-lg{
  line-height: 1;
  padding-left: 10px;
}

.btn-call-me{
  background-color: #65beee;
  color: #fff;
  padding: 30px 26px;
}
button.btn-enter{
  background-color: #383760;
  color: #fff;
  padding: 29px 25px;
}
.btn-more{
  background-color: transparent;
  color: white;
  margin-bottom: 30px;
  font-size: 14px;
  border: 1px solid #fff;
  padding: 16px 26px 15px 26px;
}

input[type=file] {
  display: none;
 
}

.btn-add-caption{
  display: inline-block;

}
.btn-add-caption:hover{
  color: red;
  cursor: pointer;
}

.btn-add-caption-icon{
   color: #fff;
  background-color: #65beee;
  position: absolute;
  top: 0;
  right: 15px;
  padding: 14px 20px;
  border-top-right-radius: 2px; 
  border-bottom-right-radius: 2px;
}

a.btn-reviews{
  margin-top: 13px;
  background-color: transparent;
  color: #7f8892;
  padding: 17px 43px 16px 43px;
  border: 1px solid #7f8892;
}
a.more{
  width: auto; 
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  padding: 16px 20px;
  border: 1px solid #fff;
}
a.price{
  width: auto;
  background-color: #65beee;
  font-size: 15px;
  padding: 18px;
  border: none;
  color: #fff;
  margin-top: 5px;
}
.btn-lg{
  font-size: 14px;
  padding: 15px 0px 15px 0px;
}
.btn-reviews:hover,.btn-reviews_all:hover{
  color: #fff;
  background-color: #7f8892;
  border: 1px splid #7f8892;
}
.btn-reviews:focus,.btn-reviews_all:focus{
   background-color: transparent;
  color: #7f8892;
  border: 1px solid #7f8892;
}
a.btn-reviews_all{
  padding: 16px 27px 15px 27px;
  background-color: transparent;
  color: #7f8892;
  border: 1px solid #7f8892;
  font-size: 18px;
} 


.btn-autor{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin-left: 200px;
  font-size: 14px;
  padding: 16px 52px 15px 52px;
}
a.btn-autor:focus,a.btn-more:focus{
  color: #fff;
}
.btn-autor-caption{
  width: 100%;
  position: absolute;
  bottom: 43px;
  z-index: 5;
  width: 100%;
  padding: 0px 12px 0px 12px;
  text-align: center;
  left: 0;
}
a.btn-retain{
    color: #fff;
    border: 1px solid #fff;
    padding: 19px 105px;
}
button .fa,
a .fa{
  font-size: 20px;
}
#closet-button.navbar-toggle{
  padding:  0px;
  background-color: #fff;

}
button.btn-togle.btn-enter{
  width: 75px;
  padding: 0
}
button.btn-togle.btn-enter:focus{
  color: #fff;
}
button.btn-togle.btn-call-me{
  width: 68px;
  padding: 0;  
}
button.btn-togle.btn-call-me:focus{
  color: #fff;
}
button.btn-togle{
  width: 60px;
  height: 60px;
  border-radius: 0;
  padding:  0px;
	
}
.btn-togle-list{
  position: absolute;
  right: 0;
  display: none;
}
select.form-control{
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(../img/arrow_select.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}
select::-ms-expand{
  display:none;
}
select.input-no-padding_l{
  padding-left: 10px;
}

button.btn-default.content-box-reklam_btn-top:hover{
  background-color: #65beee;
  color: #fff;
}
button.btn-default.content-box-reklam_btn-top:focus{
  color: #fff;
  background-color: #357598;
}
a.btn-default.content-box-reklam_btn-top:active{
  background-color: #357598;
  
}
input,button,select:focus{
  outline: none!important;
}
.btn-call-me:hover {
  color: #fff;
  background-color: #65beee;
  opacity: .7;
}
.btn-login:hover {
  color: #fff;
  background-color: #383760;
  opacity: .9;
}
/* icon */
.i{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.i_dotted{
  width: 50px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -3px;
  border-bottom: 1px dashed #65beee;
  padding-bottom: 5px;
}

.fa-star{
  color: #ffa200;
  font-size: 15px;
}
.fa-star-o{
  color: #ffa200;
  font-size: 15px;
}


.i_circle-inside{
  width: 90px;
  height: 90px;
  border-radius: 100px;
  background-color: rgba(255,255,255,0.6);
  border: 6px solid  #6a5b5f;
}
.i_arrow_bg-blue{
  background-image: url(../img/arrow_bg4.png);
  background-size: inherit;
  width: 19px;
  height: 39px;
  position: absolute;
  left: -17px;
  bottom: 70px;
}


.i_question-container-bag{
    background-image: url(../img/bag.png);
  width: 232px;
  height: 197px;
}
.i_circle-li{
  display: none;
  background-image: url(../img/ellipse.png);
  width: 10px;
  height: 10px;
}

.seleect_i-shine{
  background-image: url(../img/select_i-shine.png);
  width: 127px;
  height: 151px;
  position: absolute;
  bottom: 0;
  right: -92px;
}
.seleect_i-bulb{
  background-image: url(../img/select_i-bulb.png);
  width: 73px;
  height: 79px;
  position: absolute;
  top: 20px;
  right: 15px;
}
.seleect_i-book{
  background-image: url(../img/select_i-book.png);
  width: 94px;
  height: 84px;
  position: absolute;
  bottom: 135px;
  left: 15px;
}
.cabinet_loptop{
  background-image: url(../img/cabinet_loptop.png);
  width: 147px;
  height: 120px;
}
.cabinet_search{
  background-image: url(../img/cabinet_search.png);
  width: 119px;
  height: 107px;
}
.cabinet_download{
  background-image: url(../img/cabinet_download.png);
  width: 147px;
  height: 92px;
}
.cabinet_manager{
  background-image: url(../img/cabinet_manager.png);
  width: 70px;
  height: 125px;
}


/*breadcrumb-box */
@import "components/breadcrumb-box.less";






/* container-fluid content-box-select */

@import "components/select-box-redy-work.less";
.content-box-select{
    overflow: hidden;
}
i.seleect_i-shine{
    right: -93px;
}


 /* content-box-select-details */

.content-box-select-details .container{
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  font-size: 0;
}
.content-box-select-details select{
  font-size: 14px;
  margin-bottom: 10px;
  height: 48px;
  padding-left: 20px;
  font-family: "GothamProLight";
  border: 1px solid #7f8892;
}
.content-box-select-details-box{
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding: 0px 80px 0px 30px;
}
.content-box-select-details-box-name{
  font-size: 36px;
  font-family: "GothamProLight";
  line-height: 30px;
  color: #3d4955;
  margin: 30px 0px 35px 0px;
}
.content-box-select-details-box-description-list-item{
  font-size: 0;
  border-bottom: 1px solid #9a9999;
  margin-bottom: 15px;
}
.content-box-select-details-box-description-list-item_left-side{
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-bottom: 18px;
}
.content-box-select-details-box-description-list-item_right-side{
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-top: 5px;
  text-align: right;
}
.content-box-select-details-box-description-list-item_right-side-old-price{
  text-decoration: line-through;
  font-size: 12px;
  color: #4e535c;
}
.content-box-select-details-box-description-list-item_right-side-old-price i,
.content-box-select-details-box-description-list-item_right-side-new-price i{
  font-weight: bold;
  margin-left: 5px;
}
.content-box-select-details-box-description-list-item_right-side-new-price{
  font-size: 12px;
  color: #4e535c;
  font-weight: bold;
  margin-left: 15px;
}
.content-box-select-details-box-description-list-item_left-side a{
  font-size: 16px;
  font-family: "GothamProRegular";
  line-height: 24px;
  color: #3d8eb9;
}
.content-box-select-details-box-description-list-item_bottom-side{
  display: block;
}
.content-box-select-details-box-description-list-item-bottom-side-text{
  font-size: 12px;
  color: #9a9999;
  display: block;
  margin-bottom: 15px;
}
.content-box-select-details-box-description-list-item-bottom-side-text i{
  margin-right: 10px;
  font-size: 12px;
}

@import "components/stox-box-list.less";


.content-box-select-details-select-box_mobile{
  display: none;
}
.content-box-select-details-box-pagination-list{
  padding: 0;
  text-align: center;
}
.content-box-select-details-box-pagination{
  margin: 30px 0px 40px 0px;
}
.content-box-select-details-box-pagination-list-item a.pagination-active{
  background-color: #65beee;
  border-color: #65beee;
  color: #fff;
}
.content-box-select-details-box-pagination-list-item{
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
}
.content-box-select-details-box-pagination-list-item:last-child{
  padding-right: 0;
}
.content-box-select-details-box-pagination-list-item a{
  font-size: 16px;
  color: #3d4955;
  border: 1px solid #a7a7a7;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-top: 7px;
}
@media(max-width: 768px){
  div.content-box-select-details-stox-box{
    padding: 15px;
  }
  .content-box-select-details-box-name {
    font-size: 24px;
  }
}
@media(max-width: 920px){
  .content-box-select-details-box{
    display: block;
    width: 100%;
    padding: 0 15px;
  }
  .content-box-select-details-box-description-list-item_left-side,.content-box-select-details-box-description-list-item_right-side,.content-box-select-details-box-description-list-item-bottom-side-text,.content-box-select-details-box-name{
    display: block;
    width: 100%;
    text-align: center;
  }
  .content-box-select-details-box-description-list-item_right-side{
    margin-bottom: 15px;
  }
  .content-box-select-details-select-box_mobile{
    display: block;
    margin-top: 15px;
  }
 }



 /* content-box-causes */


@import "components/causes-box.less";


/* content-box-label */


@import "components/box-label.less";

