@import "components/main.less";

/* btn */

.btn-search {
    padding: 15px 59px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
}

.btn-red:hover,
.btn-send:hover,
.btns-send-pop-up:hover {
    color: #fff;
    background-color: #ee6a75;
}

.more:hover,
.btn-more:hover,
.btn-retain:hover,
.btn-autor:hover {
    background-color: #fff;
    color: #3d4955;
}

.more:focus,
.btn-more:focus,
.btn-retain:focus,
.btn-autor:focus {
    background-color: transparent;
    color: #fff;
}

.btn-today:hover {
    color: #fff;
    background-color: #8f9999;
}

.btn-tomorrow:hover {
    color: #fff;
    background-color: #dddddd;
}

.price:hover {
    color: #fff;
    background-color: #89cbee;
}

a.btn-send {
    font-size: 15px;
    font-family: Aria, Helvetica;
    color: #fff;
    background-color: #eb4855;
    border-color: #eb4855;
    padding: 18px 56px;
    width: 100%;
}

textarea:focus {
    outline: none;
}

.form-item input {
    position: relative;
}

.input-lg,
.btn-lg {
    border-radius: 2px;
}

select.input-lg {
    line-height: 1;
    padding-left: 10px;
}

.btn-more {
    background-color: transparent;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 16px 26px 15px 26px;
}

.content-box-select-details-box-content-open-list-item-btn-open-all-text a:hover {
    color: #3d8eb9;
}

.content-box-select-details-box-content-open-list-item-btn-open-all-text a:active {
    color: #eb4855;
}

input[type=file] {
    display: none;
}

.btn-add-caption {
    display: inline-block;
}

.btn-add-caption:hover {
    color: red;
    cursor: pointer;
}

.btn-add-caption-icon {
    color: #fff;
    background-color: #65beee;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 14px 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

a.btn-reviews {
    margin-top: 13px;
    background-color: transparent;
    color: #7f8892;
    padding: 17px 43px 16px 43px;
    border: 1px solid #7f8892;
}

a.more {
    width: auto;
    border-radius: 2px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    padding: 16px 20px;
    border: 1px solid #fff;
}

a.price {
    width: auto;
    background-color: #65beee;
    font-size: 15px;
    padding: 18px;
    border: none;
    color: #fff;
    margin-top: 5px;
}

.content-box-select-details-stox-box-order .btn-send:hover {
    background-color: #3d8eb9;
    border-color: #3d8eb9;
}

.content-box-select-details-stox-box-order .btn-send:active {
    background-color: #fff;
    border-color: #fff;
    color: #3d4955;
}

.btn-lg {
    font-size: 14px;
    padding: 15px 0px 15px 0px;
}

.btn-reviews:hover,
.btn-reviews_all:hover {
    color: #fff;
    background-color: #7f8892;
    border: 1px splid #7f8892;
}

.btn-reviews:focus,
.btn-reviews_all:focus {
    background-color: transparent;
    color: #7f8892;
    border: 1px solid #7f8892;
}

a.btn-reviews_all {
    padding: 16px 27px 15px 27px;
    background-color: transparent;
    color: #7f8892;
    border: 1px solid #7f8892;
    font-size: 18px;
}

.btn-autor {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 200px;
    font-size: 14px;
    padding: 16px 52px 15px 52px;
}

a.btn-autor:focus,
a.btn-more:focus {
    color: #fff;
}

.btn-autor-caption {
    width: 100%;
    position: absolute;
    bottom: 43px;
    z-index: 5;
    width: 100%;
    padding: 0px 12px 0px 12px;
    text-align: center;
    left: 0;
}

a.btn-retain {
    color: #fff;
    border: 1px solid #fff;
    padding: 19px 105px;
}

button .fa,
a .fa {
    font-size: 20px;
}

#closet-button.navbar-toggle {
    padding: 0px;
    background-color: #fff;
}


select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(../img/arrow_select.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

select::-ms-expand {
    display: none;
}

select.input-no-padding_l {
    padding-left: 10px;
}

button.btn-default.content-box-reklam_btn-top:hover {
    background-color: #65beee;
    color: #fff;
}

button.btn-default.content-box-reklam_btn-top:focus {
    color: #fff;
    background-color: #357598;
}

a.btn-default.content-box-reklam_btn-top:active {
    background-color: #357598;
}

input,
button,
select:focus {
    outline: none!important;
}




/* icon */

.i {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.i_dotted {
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-bottom: 1px dashed #65beee;
    padding-bottom: 5px;
}

.fa-star {
    color: #ffa200;
    font-size: 15px;
}

.fa-star-o {
    color: #ffa200;
    font-size: 15px;
}

.i_circle-inside {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 6px solid #6a5b5f;
}

.i_arrow_bg-blue {
    background-image: url(../img/arrow_bg4.png);
    background-size: inherit;
    width: 19px;
    height: 39px;
    position: absolute;
    left: -17px;
    bottom: 70px;
}


.i_question-container-enigma {
    background-image: url(../img/enigma.png);
    width: 240px;
    height: 215px;
}

.i_question-container-bag {
    background-image: url(../img/bag.png);
    width: 232px;
    height: 197px;
}

.i_circle-li {
    display: none;
    background-image: url(../img/ellipse.png);
    width: 10px;
    height: 10px;
}



@import "components/breadcrumb-box.less";



/* content-box-select-details */

.content-box-select-details .container {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.content-box-select-details select {
    font-size: 14px;
    margin-bottom: 10px;
    height: 48px;
    padding-left: 20px;
    font-family: "GothamProLight";
    border: 1px solid #7f8892;
}

.content-box-select-details-stox-box-order {
    padding: 0px 30px 0px 80px;
    margin-bottom: 60px;
}

.content-box-select-details-stox-box {
    background-color: #4e535c;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
    max-width: 520px;
    width: 35%;
    vertical-align: top
}

.content-box-select-details-stox-box textarea {
    resize: none;
    font-family: "GothamProLight";
    font-size: 14px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-bottomright: 0;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    height: 200px;
    width: 100%;
    padding: 0 15px;
    padding-top: 6px;
    margin-bottom: 15px;
}

.content-box-select-details-stox-box-order h2 {
    font-size: 24px;
    font-family: "GothamProLight";
    color: #fff;
}

.content-box-select-details-stox-box input {
    margin-bottom: 15px;
    font-size: 14px;
}

.content-box-select-details-box {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    padding: 0px 80px 0px 30px;
}

.content-box-select-details-box-name {
    font-size: 36px;
    font-family: "GothamProLight";
    line-height: 30px;
    color: #3d4955;
    margin: 30px 0px 35px 0px;
}

.content-box-select-details-box-description-list-item {
    font-size: 0;
    border-bottom: 1px solid #9a9999;
    margin-bottom: 15px;
}

.content-box-select-details-box-description-list-item_left-side {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin-bottom: 18px;
}

.content-box-select-details-box-description-list-item_right-side {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 5px;
    text-align: right;
}

.content-box-select-details-box-description-list-item_right-side-old-price {
    text-decoration: line-through;
    font-size: 12px;
    color: #4e535c;
}

.content-box-select-details-box-description-list-item_right-side-old-price i,
.content-box-select-details-box-description-list-item_right-side-new-price i {
    font-weight: bold;
    margin-left: 5px;
}

.content-box-select-details-box-description-list-item_right-side-new-price {
    font-size: 12px;
    color: #4e535c;
    font-weight: bold;
    margin-left: 15px;
}

.content-box-select-details-box-description-list-item_left-side a {
    font-size: 16px;
    font-family: "GothamProRegular";
    line-height: 24px;
    color: #3d8eb9;
}

.content-box-select-details-box-description-list-item_bottom-side {
    display: block;
}

.content-box-select-details-box-description-list-item-bottom-side-text {
    font-size: 12px;
    color: #9a9999;
    display: block;
    margin-bottom: 15px;
}

.content-box-select-details-box-description-list-item-bottom-side-text i {
    margin-right: 10px;
    font-size: 12px;
}

.content-box-select-details-stox-box-reklam {
    background-color: #fff;
    margin: 30px 30px 30px 80px;
    padding: 30px;
}

.content-box-select-details-stox-box-reklam h2 {
    font-size: 24px;
    font-family: "GothamProLightItalic";
    color: #3d4955;
    width: 80%;
    margin: 0 auto 25px;
}

.content-box-select-details-stox-box-list {
    padding: 0;
    margin: 30px 0;
}

.content-box-select-details-stox-box-sub-list {
    padding: 0;
}

.content-box-select-details-stox-box-sub-list-item,
.content-box-select-details-stox-box-list-item {
    margin-bottom: 8px;
    list-style-type: none;
}

a.content-box-select-details-stox-box-sub-list-item-text {
    padding-left: 100px;
}

.content-box-select-details-stox-box-list-item-text,
.content-box-select-details-stox-box-sub-list-item-text {
    font-size: 14px;
    font-family: "GothamProLight";
    line-height: 30px;
    color: #fff;
    list-style: none;
    text-align: left;
    position: relative;
    display: block;
    padding: 0px 0px 0px 80px;
}

.content-box-select-details-stox-box-list-item-quantity {
    font-family: "GothamProBold";
}

.content-box-select-details-stox-box-list-item-from {
    position: absolute;
    top: 0;
    right: 30px;
}

.content-box-select-details-stox-box-list-item-from_hot-price {
    background-color: #eb4855;
    border-radius: 12px;
    padding: 0 10px;
    right: 20px;
}

.content-box-select-details-stox-box-list-item-tr {
    position: absolute;
    width: 0;
    height: 0;
    right: -35px;
    border: 15px solid transparent;
    border-left: 20px solid #65beee;
    display: none;
}

.content-box-select-details-stox-box-list-item-text_active {
    background-color: #65beee;
}

.content-box-select-details-stox-box-list-item-text_active .content-box-select-details-stox-box-list-item-text-tr {
    display: inline-block;
}

.content-box-select-details-stox-box-list-item-text-tr {
    position: absolute;
    width: 0;
    height: 0;
    right: -35px;
    border: 15px solid transparent;
    border-left: 20px solid #65beee;
    display: none;
}

.content-box-select-details-stox-box-list-item-text:hover,
.content-box-select-details-stox-box-sub-list-item-text:hover {
    background-color: #65beee;
    color: #fff;
}

.content-box-select-details-stox-box-list-value {
    margin-left: 5px;
    font-weight: bold;
}

.content-box-select-details-stox-box-list-value i {
    margin-left: 2px;
}

.content-box-select-details-stox-box_tr {
    position: absolute;
    width: 0;
    height: 0;
    top: 34px;
    right: -40px;
    border: 20px solid transparent;
    border-left: 20px solid #4e535c;
}

.content-box-select-details-stox-box-percent-value-caption-text {
    font-size: 24px;
    font-family: "GothamProLight";
    line-height: 30px;
    color: #3d4955;
    padding: 0px 30px;
    margin: 0px 0px 20px 0px;
}

.content-box-select-details-stox-box-percent-value-caption-percent {
    font-size: 100px;
    font-family: "GothamProLight";
    margin: 0;
    line-height: 24px;
    letter-spacing: -10px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1;
    padding-bottom: 35px;
}

.content-box-select-details-select-box_mobile {
    display: none;
}

.content-box-select-details-box-pagination-list {
    padding: 0;
    text-align: center;
}

.content-box-select-details-box-pagination {
    margin: 30px 0px 40px 0px;
}

.content-box-select-details-box-pagination-list-item a.pagination-active {
    background-color: #65beee;
    border-color: #65beee;
    color: #fff;
}

.content-box-select-details-box-pagination-list-item {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
}

.content-box-select-details-box-pagination-list-item:last-child {
    padding-right: 0;
}

.content-box-select-details-box-pagination-list-item a {
    font-size: 16px;
    color: #3d4955;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding-top: 7px;
}

.content-box-select-details-box-content-open-name {
    font-size: 36px;
    font-family: "GothamProLight";
    line-height: 40px;
    margin-bottom: 30px;
}

.content-box-select-details-box-content-open-list-item {
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.content-box-select-details-box-content-open-list-item-text-light,
.content-box-select-details-box-content-open-list-item-text-bold {
    font-size: 16px;
}

span.content-box-select-details-box-content-open-list-item-text-top {
    margin-bottom: 30px;
}

.content-box-select-details-box-content-open-list-item-text-bold {
    font-weight: bold;
}

.content-box-select-details-box-content-open-list-item-text-block {
    display: block;
    margin-bottom: 20px;
}

.content-box-select-details-box-content-open-list-item ul {
    padding: 0;
    margin: 0;
}

.content-box-select-details-box-content-open-list-item-btn-open-all-text {
    text-align: center;
    margin-top: 30px;
}

.content-box-select-details-box-content-open-list-item-btn-open-all-text a {
    font-size: 16px;
    color: #3d4955;
}

.content-box-select-details-box-content-open-list-item-btn-open-all-text i {
    margin-right: 12px;
}

.content-box-select-details-box-content-open-list-item li {
    list-style: none;
    font-size: 16px;
    font-family: "GothamProLight";
    line-height: 30px;
}

.content-box-select-details-box-content-open-list-item-date-value,
.content-box-select-details-box-content-open-list-item-date-order {
    font-size: 14px;
}

.content-box-select-details-box-content-open-list-item-date-order-order-number,
.content-box-select-details-box-content-open-list-item-date-value-number {
    font-weight: bold;
}

.content-box-select-details-box-content-open-list-item-date-value {
    border-right: 1px solid black;
    padding-right: 15px;
}

.content-box-select-details-box-content-open-list-item-date-order {
    padding-left: 15px;
}

.content-box-select-details-box-content-open-list-item-price-inner {
    font-size: 18px;
    color: #fff;
    background-color: #eb4855;
    border-radius: 20px;
    padding: 10px
}

.content-box-select-details-box-content-open-list-item-date,
.content-box-select-details-box-content-open-list-item-price {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
}

.content-box-select-details-box-content-open-list-item-price {
    text-align: right;
}

.content-box-select-details-box-content-open-list-item-price-inner-old-price {
    text-decoration: line-through;
    display: inline-block;
}

.content-box-select-details-box-content-open-list-item-price-inner-old-price i {
    margin-left: 5px;
}

.content-box-select-details-box-content-open-list-item-text-top i {
    display: none;
}

.content-box-select-details-box-content-open-list-item-text-top i.fa-angle-down {
    display: none;
}

.content-box-select-details-box_stox-box {
    display: none;
}

@media(max-width: 768px) {
    div.content-box-select-details-stox-box-reklam {
        margin: 0;
    }
    .content-box-select-details-box-content-open-list-item-text-top i {
        display: inline-block;
        margin-right: -22px;
        margin-left: 10px;
    }
    div.content-box-select-details-stox-box {
        padding: 15px;
    }
    .content-box-select-details-box-name {
        font-size: 24px;
    }
    .open-list i.fa-angle-up {
        display: none;
    }
    .open-list i.fa-angle-down {
        display: inline-block;
    }
    .content-box-select-details-box-content-open-list-item-btn-open-all-text {
        margin-bottom: 30px;
    }
    .content-box-select-details-box-content-open-name {
        font-size: 24px;
        text-align: center;
    }
    .content-box-select-details-box-content-open-list-item-date,
    .content-box-select-details-box-content-open-list-item-price,
    .content-box-select-details-box-content-open-list-item-date-value,
    .content-box-select-details-box-content-open-list-item-date-order {
        display: block;
        width: 100%;
        text-align: center;
    }
    .content-box-select-details-box-content-open-list-item-date-value {
        margin-bottom: 20px;
    }
    .content-box-select-details-box-content-open-list-item-date-order {
        margin-bottom: 30px;
    }
    .content-box-select-details-box-content-open-list-item {
        text-align: center;
    }
}

@media(max-width: 920px) {
    div.content-box-select-details-box_stox-box {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 15px 15px 30px 15px;
        margin: -31px 0px 0px 0px;
    }
    .content-box-select-details-box-content-open,
    .content-box-select-details-box-decription-list {
        padding: 0 15px;
    }
    div.content-box-select-details-box_stox-box .content-box-select-details-stox-box-order {
        padding: 0px 15px;
    }
    .content-box-select-details-stox-box {
        display: none;
    }
    .content-box-select-details-box {
        display: block;
        width: 100%;
        padding: 0;
    }
    .content-box-select-details-box-description-list-item_left-side,
    .content-box-select-details-box-description-list-item_right-side,
    .content-box-select-details-box-description-list-item-bottom-side-text,
    .content-box-select-details-box-name {
        display: block;
        width: 100%;
        text-align: center;
    }
    .content-box-select-details-box-description-list-item_right-side {
        margin-bottom: 15px;
    }
    .content-box-select-details-stox-box-list {
        display: none;
    }
    .content-box-select-details-select-box_mobile {
        display: block;
        margin-top: 15px;
    }
    div.content-box-select-details-stox-box-reklam h2 {
        font-size: 24px;
    }
    .content-box-select-details-stox-box-reklam {
        margin: 30px 30px 0px 30px;
    }
}

@media(max-width: 1060px) {
    li.content-box-select-details-stox-box-list-item a {
        padding-left: 5px;
    }
    li.content-box-select-details-stox-box-sub-list-item a {
        padding-left: 20px;
    }
    .content-box-select-details-stox-box-list-item-from {
        right: 10px;
    }
    .content-box-select-details-stox-box-list-item-from_hot-price {
        right: 1px;
    }
}

@media(max-width: 1300px) {
    .content-box-select-details-stox-box-list-item a {
        padding-left: 30px;
        font-size: 12px;
    }
    .content-box-select-details-stox-box-sub-list-item a {
        padding-left: 60px;
    }
    a.btn-send {
        white-space: nowrap;
        font-size: 12px;
        padding: 18px 0;
    }
    .content-box-select-details-stox-box-reklam h2 {
        font-size: 18px;
    }
}


/* content-box-causes */

@import "components/causes-box.less";


/* content-box-label */

@import "components/box-label.less";



/*slider reklam*/

.crsl-items {
    position: absolute;
}

.crsl-item {
    height: 215px!important;
}

@media(max-width: 768px) {
    .crsl-items {
        position: static;
    }
}